* {
  margin: 0;
  padding: 0;
}

div.ctn {
  position: relative;
  padding: 0 0 2rem 0;
  height: auto;

  .swiper.mySwiper {
    position: relative;
    width: calc(100% - 5rem);
    height: max-content;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #292929;
      display: flex;
      justify-content: center;
      align-items: center;

      .carousel-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 4/5;
      }
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 5px;
  }
  .swiper-button-next {
    position: absolute;
    right: 5px;
    top: 45%;
  }
  .swiper-button-prev {
    position: absolute;
    left: 5px;
    top: 45%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    @media screen and (min-width: 1024px) {
      transform: scale(70%);
    }
    @media screen and (max-width: 768px) {
      transform: scale(60%);
    }
    @media screen and (max-width: 767px) {
      transform: scale(40%);
    }
  }
}
